<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        you can edit your message here!
    </h1>
    <h3> This message send from <%=chat.from%> to<%=chat.to%></h3>
    <form method="POST"action="/chats/<%=chat._id%>?_method=PUT">
        edit your message
        <br>

        <textarea name="msg" rows="3"cols=15></textarea>
        <br>
        <button>edit</button>
    </form>
</body>
</html>