<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Chat</title>
</head>
<body>
    <h3> Add Chat</h3>
    <form method="POST" action="/chats" >
        <input placeholder="Enter your Name" name="from">
        <br><br>
        <textarea placeholder="type your message here" name="msg"> </textarea>
        
        <br><br>
        <input placeholder="recieved by"name="to">
        <button>Add chat</button>
    </form>
</body>
</html>